* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    background-color: darkolivegreen;
}


.bannersPNG {
    text-align: center;
    padding: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 600px;
}